:host {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: orange;
  width: fit-content;
  padding: 1rem 3rem;
  border-radius: 6px;
  color: rgb(14, 16, 57);
  font-weight: 700;
  transition: 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 166, 0, 0.597);
  }
}